@import 'styles';

@media (max-width: 640px) {    
    .upper_part {
        margin-top: 1rem;
    }

    main {
        margin-top: 5rem;
        width: 20rem !important;
        height: 30rem !important;

        .input_area {
            input {
                padding: .5rem !important;
                width: 12rem !important;
                height: 3rem !important;
                font-size: 1rem !important;
            }

            button {
                width: 7rem !important;
                font-size: .9rem !important;
                height: 2.9rem !important;
            }
        }

        #task_area {
            height: 22rem !important;

            .uncompleted_task {
                @include task(19rem !important);
            }
        }
    }
}