* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1E3A8A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 92%);
    width: clamp(20rem, 50vw, 50rem);
    height: clamp(20rem, 50vh, 30rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .header {
    background-color: #007BFF;
    padding: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px 10px 0 0;
}

.container .header h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
    color: #fff;
}

.container .content {
    padding: 1rem;
}

.container .content form {
    display: flex;
}

.container .content form input {
    width: 100%;
    padding: .8rem;
    margin: 0.5rem 0;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px 0 0 10px;
    outline: none;
    font-size: 1rem;
    letter-spacing: clamp(1px, 1.5vw, 1.2px);
}

.container .content form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    font-weight: 500;
    letter-spacing: clamp(1px, 1.5vw, 1.2px);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    background-color: #32CD32;
    color: #FFFFFF;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: .4s ease background-color;
}

.container .content form button svg {
    width: 1.4rem;
    height: 1.4rem;
}

.container .content form button:focus {
    outline: none;
}

.container .content form button:active,
.container .content form button:hover,
.container .content ul li button:active,
.container .content ul li button:hover {
    background-color: #2A9A2A;
}


.container .content ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    height: clamp(15rem, 20vh, 30rem);
}

.container .content ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 100%);
    position: relative;
}

.container .content ul li label {
    font-size: 1.2rem;
    text-align: start;
    width: auto;
    position: absolute;
    left: 2.8rem;
}

/* .container .content ul li svg {
    cursor: pointer;
    fill: green;
} */

.test {
    fill: green;
}

.container .content ul li button {
    border: none;
    background-color: #32CD32;
    color: #FFFFFF;
    padding: 0.5rem 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease background-color;
}

.container .content ul li button:focus {
    outline: none;
}