@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

// Body Styles
$body_bg_color: #b7b5a7;
$font_family: "Mulish", sans-serif;

// Main Card
$main_bg_color: #f0f0f0;
$unconpleted_tasks_bg_color: #d71818;
$completed_tasks_bg_color: #6ed718;

// Button Styles
$button_bg_color: #4169e1;
$button_bg_color_hover: #1e44b7;

// Theme Switcher
$circle_bg_color: hsla(0, 0%, 40%, 0.8); 

@mixin task($width) {
    cursor: pointer;
    width: $width;
    height: 2rem;
    padding: 1.4rem;
    @include display(flex, none, center, none);
    color: #fff;
    font-size: 1.2rem;
    border-radius: .6rem;
}

@mixin display($flex, $justify_content, $align_itens, $flex_direction) {
    display: $flex;
    justify-content: $justify_content;
    align-items: $align_itens;
    flex-direction: $flex_direction; 
}