// $body_bg_color: #353333;
$body_bg_color: #b7b5a7;

$cursor: url("/assets/cursor.png");

// Main Card
$main_bg_color: #f0f0f0;
$unconpleted_tasks_bg_color: #d71818;
$completed_tasks_bg_color: #6ed718;

// Button Styles
$button_bg_color: #4169e1;
$button_bg_color_hover: #1e44b7;